[Unit]
Description=PostgreSQL logs scrapper to Graylog
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/opt/pglog-collector
ExecStart=/usr/bin/local/docker-compose up -d
ExecStop=/usr/bin/local/docker-compose down
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target