[Unit]
Description=PostgreSQL logs rotator timer
Requires=docker.service
After=docker.service

[Timer]
OnBootSec=15min
OnUnitActiveSec=2h

[Install]
WantedBy=timers.target
