[Unit]
Description=PostgreSQL logs rotator
Requires=docker.service
After=docker.service

[Service]
# $(/usr/bin/id -u postgres)
Environment=PGUID=112
$(/usr/bin/id -g postgres)
Environment=PGGID=117
Type=oneshot
RemainAfterExit=no
WorkingDirectory=/opt/pglog-collector
ExecStart=/usr/bin/docker exec -i -e PGUID=${PGUID} -e PGGID=${PGGID} fluentd /etc/logrotate/rotate.sh
ExecStart=/bin/pgrotate
TimeoutStartSec=0
